
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7aadd;
    min-height: 100vh;

}
form{
    background-color: #f1b3ec;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0,0.1);
}
label{
    display: block;
    margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom:15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    height: 120px;
}
button{
    background-color: rgb(145, 135, 236);
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
button:hover{
background-color: rgb(118, 104, 247);
}
  .caixa{
height: 400px;
width: 400px;
  }
    

